* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.sequencia {
  margin: 10px 0;
}

.sequencia p {
  margin: 5px 0;
}

.sequencia span {
  font-weight: bold;
}